/*All Pages / Global Styles*/
header {
    font-size: 60px;
    color: #fff;
    background-image: url("images/central_park.jpg");
    background-size: 1500px; 
    background-position: 0 -200px; 
    background-repeat:no-repeat;
    background-color: tomato; 
    height: 350px; 
    padding-left: 125px;
    padding-top: 100px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
}
li{
    list-style-type:none;
    display:inline;
    padding: 0 20px;        
}
a{
    text-decoration:none;
}
a:link {
    color: #000; /* before click */
}
a:visited {
    color: #818db3; /* after click */
}
a:hover {
    color: #333; /* mouse click */
}
a:active {
    color: #753a30; /* mouse click */
}
nav {
    background-color:rgb(255, 245, 238);
    height: 50px;
    text-align: center;
    padding-top:2px; 
}
main {
    margin: 50px;
}
main h1 { /*contextual selector */
    color: rgb(129, 141, 179);
    font-family: Arial;
}
main #album #photo img {
    
}
footer {
    height: 40px;
    background-color: rgb(129, 141, 179);
    text-align: center;
    padding-top: 20px;
    color: rgb(211,218,240);
}

/*Page 2 Style*/

table {
    margin-top: 35px
}
table, caption, th, td {
    border: 1px solid #000;
}
th, td {
    width: 150px;
    height: 35px;
    text-align: center;
}
caption {
    text-transform: uppercase;
    font-weight: 600;
    height: 40px;
    padding-top: 15px;
    color: #753a30;
}

/*Page 3 Style*/

label {
    display: block;
    margin: 15px 0 0 0;
}
input [name=gender] {
    width: 25px;
}
textarea {
    width: 300px;
}
input [type="submit"] {
    display: block;
    margin: 15px 0 10px 0;
    width: 100px;
}